# Ignore files from data directory except .gitkeep
**/data/*
!**/data/.gitkeep

# Exclude pycache files
__pycache__/
*.pyc

# Exclude python virtual environment
env
.venv

# Exclude env files
*.env*

# Exclude cookies directory
cookies/

# User-specific files
.Rhistory
.Rapp.history
.Rprofile

# RStudio project files
.Rproj
.Rproj.user

# R Data Files
*.RData
*.Rds
*.rda
.Rhistory
.Renviron

# Include renv lock files
!**/renv.lock
!**/renv/lock
.DS_Store
index.html
