# Ignore files from data directory except .gitkeep
**/data/*
!**/data/.gitkeep

# Exclude pycache files
__pycache__/
*.pyc

# Exclude python virtual environment
env

# Exclude env files
*.env*

# User-specific files
.Rhistory
.Rapp.history
.Rprofile

# RStudio project files
.Rproj
.Rproj.user

# R Data Files
*.RData
*.Rds
*.rda
.Rhistory

# Include renv lock files
!**/renv.lock
!**/renv/lock